@model Kutuphane.Entities.DTOs.StatisticDetailDto
@{
    ViewData["Title"] = "Ödünç Kitabı İade Et";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("ReturnLend", "Lend", FormMethod.Post))
{
    <div style="margin-bottom: 15px"></div>
    <div class="form-group">
        <div style="margin-bottom: 15px">
            <label>İşlem ID</label>
            @Html.TextBoxFor(p => p.Id, new { @class = "form-control", @readonly = false })
        </div>
        <div style="margin-bottom: 15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(p=>p.BookId,new {@type = "hidden"})
            @Html.TextBoxFor(p => p.BookName, new { @class = "form-control", required = "", @readonly = false })
        </div>
        <div style="margin-bottom: 15px">
            <label>Üye Adı</label>
            @Html.TextBoxFor(p => p.MemberId, new { @type = "hidden" })
            @Html.TextBoxFor(p => p.MemberName, new { @class = "form-control", required = "", @readonly = false })
        </div>
        <div style="margin-bottom: 15px">
            <label>Personel Adı</label>
            @Html.TextBoxFor(p => p.PersonalId, new { @type = "hidden" })
            @Html.TextBoxFor(p => p.PersonalName, new { @class = "form-control", required = "", @readonly = false })
        </div>
        <div style="margin-bottom: 15px">
            <label>Alış Tarihi</label>
            @Html.TextBoxFor(p => p.DateofPurchase, new { @class = "form-control", required = "", @readonly = false })
        </div>
        <div style="margin-bottom: 15px">
            <label>İade Tarihi</label>
            @Html.TextBoxFor(p => p.DateofReturn, new { @class = "form-control", required = "", @readonly = false })
        </div>
    </div>
    <div>
        <button onclick="return confirm('Ödün Kitap Alınacak Emin misiniz?');" class="btn btn-group" style="background-color: #64d8ca;color:white">Ödünç Kitabı Geri Al</button>
    </div>
}

